<div class="card flex flex-wrap gap-4">
    @for (state of states; track $index) {
    <div class="p-2" pDroppable (onDrop)="drop(state)">
        <h2>{{state.stateDescription}}</h2>
        <ul class="lista-limpia">
            @for (tarea of tasksByState[state.idState] ?? []; track tarea.id) {
            <li pDraggable (onDragStart)="dragStart(tarea)" (onDragEnd)="dragEnd()" style="margin-bottom: 1rem;">
                <p-card [header]="tarea.titulo">
                    <p class="m-0">
                        {{tarea.descripcion}}
                    </p>
                </p-card>
            </li>
            }
        </ul>
    </div>
    }
</div>