<div class="card flex flex-wrap gap-4">
    <div class="p-2">
        <h2>Estado 1</h2>
        <ul class="lista-limpia">
            @for (tarea of availableProducts; track tarea.id) {
            <li pDraggable (onDragStart)="dragStart(tarea)" (onDragEnd)="dragEnd()" style="margin-bottom: 1rem;">
                <p-card [header]="tarea.titulo">
                    <p class="m-0">
                        {{tarea.descripcion}}
                    </p>
                </p-card>
            </li>
            }
        </ul>
    </div>


    <div class="p-2 " pDroppable (onDrop)="drop()">
        <h2>Estado 2</h2>
        <ul *ngIf="selectedProducts" class="lista-limpia">
            @for (tarea of selectedProducts; track tarea.id) {
            <li class="p-2 rounded-border shadow-sm" style="margin-bottom: 1rem;">
                <p-card [header]="tarea.titulo">
                    <p class="m-0">
                        {{tarea.descripcion}}
                    </p>
                </p-card>
            </li>
            }
        </ul>
    </div>
</div>